[user]
    email = iurobpn@proton.me
    name = Iuro Nascimento
	signingkey = ECE49289A0015EF0

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true


[diff]
    colorMoved = default

[alias]
    co = checkout
    br = branch
    ci = commit
    cp = cherry-pick
    st = status -s
    cl = clone
    co = checkout
    sw = switch
    rb = rebase
    rbi = rebase -i
    br = branch
    wt = worktree
    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard
    sl = stash list
    sa = stash apply
    ss = stash save
    spop = stash pop
    spush = stash push
    unstage = reset HEAD --
    last = log -1 HEAD
    k = !gitk
    lc = log ORIG_HEAD.. --stat --no-merges
    changes=diff --name-status -r
    diffstat=diff --stat -r
    gitkconflict = !gitk --left-right HEAD...MERGE_HEAD
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
    prune-all = !git remote | xargs -n 1 git remote prune
    df = diff
    dc = diff --cached
    lg = log -p
    who = shortlog -s --
    untrack = rm --cache --
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg = lg1
    le = log --oneline --decorate
    filelog = log -u
    fl = log -u
    dl = "!git ll -1"
    dlc = diff --cached HEAD^
    f = "!git ls-files | grep -i"
    gr = grep -Ii
    gra = "!f() { A=$(pwd) && TOPLEVEL=$(git rev-parse --show-toplevel) && cd $TOPLEVEL && git grep --full-name -In $1 | xargs -I{} echo $TOPLEVEL/{} && cd $A; }; f"
    la = "!git config -l | grep alias | cut -c 7-"
    done = "!f() { git branch | grep "$1" | cut -c 3- | grep -v done | xargs -I{} git branch -m {} done-{}; }; f"
    lasttag = describe --tags --abbrev=0
    lt = describe --tags --abbrev=0
    ours = "!f() { git co --ours $@ && git add $@; }; f"
    theirs = "!f() { git co --theirs $@ && git add $@; }; f"
    diff = diff --word-diff
    dc = diff --cached
    da = difftool -d

[diff]
    tool = meld

[merge]
    tool = meld
    conflictstyle = diff3

[core]
    pager = delta
    excludesFile = ~/.gitignore
    editor = nvim

[init]
    defaultBranch = "main"

[pull]
    rebase = false

[credential]
	helper = cache
[commit]
	gpgsign = true
