tags
.tags
.tags.*
cscope.out
ncscope.out.*
cscope.out.*
:/
build/
.idea/
.vscode/
.gtags/

*.out
lazy-lock.json
*.log
*.aux
*.bbl
*.blg
*.brf

# LaTeX intermediate files
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.glo
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
__pycache__/
nvim/pack
.settings.json
mutt.mrc.gpg
