set input-meta on
set output-meta on
set editing-mode vi
set show-mode-in-prompt on
set show-all-if-ambiguous on
set show-all-if-unmodified on
# Color the common prefix in menu-complete
set menu-complete-display-prefix on
set completion-ignore-case on
# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On

set keymap vi-insert
"\t": menu-complete
"\e[Z": menu-complete-backward
"\C-f": "\eddi_load_bash_it_files\n"
# "\C-xp": "PATH=${PATH}\e\C-e\C-a\ef\C-f"
"\es": "\eIsudo "
"\ev": "\eIvim "
"\C-x\C-r": re-read-init-file
"\C-l": clear-screen
set keymap vi-command
"\C-l": clear-screen
"\C-x\C-r": re-read-init-file
"\es": "Isudo "
"\ev": "Ivim "
"\C-f": "ddi_load_bash_it_files\n"

# set vi-ins-mode-string '\033[?2c'
# set vi-cmd-mode-string '\033[?6c'
# set vi-ins-mode-string \1\e[6 q\2
# set vi-cmd-mode-string \1\e[2 q\2
# $if term=linux
# 	set vi-ins-mode-string \1\e[?0c\2
# 	set vi-cmd-mode-string \1\e[?8c\2
# $else
# 	set vi-ins-mode-string \1\e[6 q\2
# 	set vi-cmd-mode-string \1\e[2 q\2
# $endif

